.container {
    margin-top: 60px;
    padding: 20px; /* Añade un relleno adicional si es necesario */
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    background-size: cover;
    border: 1px solid #ccc;
    height: 90vh;
    border-radius: 5px;
    margin: 20px;
    font-family: "Roboto", sans-serif;
  }
  
  /* Estilos para la imagen */
  .image {
    margin-top: 60px;
    max-width: 350px;
    height: auto;
    margin-right: 20px;
  }
  
  /* Estilos para la información */
  .information {
    flex: 1;
  }
  
  /* Estilos para el título (nombre y apellido) */
  .title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    font-family: "Anton", sans-serif;
  }
  
  /* Estilos para los detalles */
  .details {
    font-size: 18px;
    color: #555;
    margin-bottom: 8px;
    font-family: "Roboto", sans-serif;
  }
  
  /* Estilos para la descripción */
  .description {
    font-size: 16px;
    color: #777;
    margin-top: 20px;
    text-align: left;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
  }